<div class="container">
  <h1 class="text-center">Hello, {{ fullName }}</h1>
  <div class="table-container">
    <table>
      <tr>
        <th>REF_DATE</th>
        <th>GEO</th>
        <th>DGUID</th>
        <th>Area</th>
        <th>UOM</th>
        <th>UOM_ID</th>
        <th>SCALAR_FACTOR</th>
        <th>SCALAR_ID</th>
        <th>VECTOR</th>
        <th>COORDINATE</th>
        <th>VALUE</th>
        <th>STATUS</th>
        <th>SYMBOL</th>
        <th>TERMINATED</th>
        <th>DECIMALS</th>
      </tr>
      <tr *ngFor="let record of records">
        <td>{{ record.REF_DATE }}</td>
        <td>{{ record.GEO }}</td>
        <td>{{ record.DGUID }}</td>
        <td>{{ record.Area }}</td>
        <td>{{ record.UOM }}</td>
        <td>{{ record.UOM_ID }}</td>
        <td>{{ record.SCALAR_FACTOR }}</td>
        <td>{{ record.SCALAR_ID }}</td>
        <td>{{ record.VECTOR }}</td>
        <td>{{ record.COORDINATE }}</td>
        <td>{{ record.VALUE }}</td>
        <td>{{ record.STATUS }}</td>
        <td>{{ record.SYMBOL }}</td>
        <td>{{ record.TERMINATED }}</td>
        <td>{{ record.DECIMALS }}</td>
      </tr>
    </table>
  </div>
</div>
