<link rel="icon" href="/favicon.ico" type="image/x-icon">
<div class="search-container">
    <label for="typeOfProduct-input">Type of Product:</label>
    <input type="text" id="typeOfProduct-input" [(ngModel)]="typeOfProduct" placeholder="Search by type of product">
    <label for="geo-input">Geographical Area:</label>
    <input type="text" id="geo-input" [(ngModel)]="geo" placeholder="Search by GEO">
    <button type="button" class="btn btn-outline-dark" (click)="searchRecords()">Search</button>
</div>
